{% extends 'frontBundle:Default:index.html.twig' %}

{% block mainMenu %}
    <li><a href="{{ path('front_homepage') }}">movies</a></li>
    <li><a href="{{ path('news_page') }}">news</a></li>
    <li><a href="{{ path('about_page') }}" id="current" class="MenuItemSelected">about</a></li>
    <li><a href="{{ path('contact_page') }}">contact</a></li>
{% endblock %}

{% block content %}

    <div class="about">
        <p class="presentation">Alias vitae eaque! Delectus quibusdam quia, voluptatum illum temporibus vel laborum libero repellendus debitis, possimus sequi velit provident eaque facilis distinctio illo culpa a neque, molestiae eligendi nemo. Officia, neque deleniti, similique exercitationem cumque eaque. Pariatur, dolorem! Doloribus similique, aperiam nihil pariatur a excepturi possimus tempora vitae modi velit. Repudiandae pariatur ipsum asperiores quod dolore dignissimos dolor voluptatem vitae perspiciatis cupiditate aliquam dolorem quaerat maiores, non dolorum, delectus eum. Explicabo possimus perferendis nemo ab et. Perferendis doloremque alias tempora minus rerum, earum, ea, laboriosam aliquid accusantium ipsum soluta minima delectus quasi aut suscipit. Qui vitae natus nisi soluta quibusdam aut quisquam labore.</p>

        <div class="reviewer-card">
            <img src="{{ asset('dist/img/images-test/thumbs/3.jpg') }}">
            <div class="infos">
                <h2>N6NIKITA</h2>
                <ul>
                    <li>Age : <span>36 ans</span></li>
                    <li>Profession : <span></span></li>
                    <li>eMail : <span>n6nikita@nexus6.fr</span></li>
                    <li>5 Films : <span></span></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis alias earum facilis architecto repellendus tempora explicabo, amet sed rerum molestiae in quod, magnam quidem iusto temporibus. Incidunt ipsum esse velit dolores sapiente. Itaque, placeat, beatae possimus quae nostrum nobis blanditiis, nam a quam veritatis quo saepe consequatur.</p>
            </div>
        </div>

        <div class="reviewer-card">
            <img src="{{ asset('dist/img/marzoni.jpg') }}">
            <div class="infos">
                <h2>N6MARZONI</h2>
                <ul>
                    <li>Age : <span>60 ans</span></li>
                    <li>Profession : <span></span></li>
                    <li>eMail : <span>n6marzoni@nexus6.fr</span></li>
                    <li>5 Films : <span></span></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis alias earum facilis architecto repellendus tempora explicabo, amet sed rerum molestiae in quod, magnam quidem iusto temporibus. Incidunt ipsum esse velit dolores sapiente. Itaque, placeat, beatae possimus quae nostrum nobis blanditiis, nam a quam veritatis quo saepe consequatur.</p>
            </div>
        </div>

        <div class="reviewer-card">
            <img src="{{ asset('dist/img/palm.jpg') }}">
            <div class="infos">
                <h2>N6PALM</h2>
                <ul>
                    <li>Age : <span>30 ans</span></li>
                    <li>Profession : <span></span></li>
                    <li>eMail : <span>n6palm@nexus6.fr</span></li>
                    <li>5 Films : <span></span></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis alias earum facilis architecto repellendus tempora explicabo, amet sed rerum molestiae in quod, magnam quidem iusto temporibus. Incidunt ipsum esse velit dolores sapiente. Itaque, placeat, beatae possimus quae nostrum nobis blanditiis, nam a quam veritatis quo saepe consequatur.</p>
            </div>
        </div>

        <div class="reviewer-card">
            <img src="{{ asset('dist/img/tyrell.jpg') }}">
            <div class="infos">
                <h2>N6TYRELL</h2>
                <ul>
                    <li>Age : <span>36 ans</span></li>
                    <li>Profession : <span>Développeur Front-end</span></li>
                    <li>eMail : <span>n6tyrell@nexus6.fr</span></li>
                    <li>5 Films : <span>Bladerunner, Schindler's List, The Planet of the Apes, The Crow, The Fall</span></li>
                </ul>
                <p>Mon premier vrai contact avec le cinéma, c'était avec "Masters of the Universe".</p>
            </div>
        </div>


    </div>

{% endblock %}