{% extends 'frontBundle:Default:index.html.twig' %}

{% block mainMenu %}
    <li><a href="{{ path('front_homepage') }}">movies</a></li>
    <li><a href="{{ path('news_page') }}">news</a></li>
    <li><a href="{{ path('about_page') }}" id="current" class="MenuItemSelected">about</a></li>
    <li><a href="{{ path('contact_page') }}">contact</a></li>
{% endblock %}

{% block content %}

    <div class="about">
        <p class="presentation">Bienvenue sur NEXUS-6. Un site ciné tout simple, cliquez, lisez les critiques et si ça vous tente, matez vous le film. NEXUS-6, c'est des critiques de films récent ou anciens, choisis par les contributeurs. Des films qu'ils ont aimé ou détesté selon chacun. Ne venez pas chercher la critique du dernier film sorti en salle cette semaine, nous ne sommes pas esclaves de l'actualité. Tout se fait au plaisir. Ne cherchez pas de zone de commentaires, de boutons de partage ou de like ou encore de "pouce bleu". Nous ne cherchons pas une gloire éphémère ou une légitimité virtuelle.
            Alors si vous avez seulement envie de débusquer un bon film, si vous chercher notre avis sur un "classique" ou si vous vous êtes perdus dans les méandres de la toile, vous êtes au bon endroit !</p>

        <div class="reviewer-card">
            <img src="{{ asset('dist/img/images-test/thumbs/3.jpg') }}">
            <div class="infos">
                <h2>N6NIKITA</h2>
                <ul>
                    <li>Age : <span>36 ans</span></li>
                    <li>Profession : <span></span></li>
                    <li>eMail : <span>n6nikita@nexus6.fr</span></li>
                    <li>5 Films : <span></span></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis alias earum facilis architecto repellendus tempora explicabo, amet sed rerum molestiae in quod, magnam quidem iusto temporibus. Incidunt ipsum esse velit dolores sapiente. Itaque, placeat, beatae possimus quae nostrum nobis blanditiis, nam a quam veritatis quo saepe consequatur.</p>
            </div>
        </div>

        <div class="reviewer-card">
            <img src="{{ asset('dist/img/marzoni.jpg') }}">
            <div class="infos">
                <h2>N6MARZONI</h2>
                <ul>
                    <li>Age : <span>60 ans</span></li>
                    <li>Profession : <span></span></li>
                    <li>eMail : <span>n6marzoni@nexus6.fr</span></li>
                    <li>5 Films : <span></span></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis alias earum facilis architecto repellendus tempora explicabo, amet sed rerum molestiae in quod, magnam quidem iusto temporibus. Incidunt ipsum esse velit dolores sapiente. Itaque, placeat, beatae possimus quae nostrum nobis blanditiis, nam a quam veritatis quo saepe consequatur.</p>
            </div>
        </div>

        <div class="reviewer-card">
            <img src="{{ asset('dist/img/palm.jpg') }}">
            <div class="infos">
                <h2>N6PALM</h2>
                <ul>
                    <li>Age : <span>30 ans</span></li>
                    <li>Profession : <span></span></li>
                    <li>eMail : <span>n6palm@nexus6.fr</span></li>
                    <li>5 Films : <span></span></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis alias earum facilis architecto repellendus tempora explicabo, amet sed rerum molestiae in quod, magnam quidem iusto temporibus. Incidunt ipsum esse velit dolores sapiente. Itaque, placeat, beatae possimus quae nostrum nobis blanditiis, nam a quam veritatis quo saepe consequatur.</p>
            </div>
        </div>

        <div class="reviewer-card">
            <img src="{{ asset('dist/img/tyrell.jpg') }}">
            <div class="infos">
                <h2>N6TYRELL</h2>
                <ul>
                    <li>Age : <span>36 ans</span></li>
                    <li>Profession : <span>Développeur Front-end</span></li>
                    <li>eMail : <span>n6tyrell@nexus6.fr</span></li>
                    <li>5 Films : <span>Bladerunner, Schindler's List, The Planet of the Apes, The Crow, The Fall</span></li>
                </ul>
                <p>Mon premier vrai contact avec le cinéma, c'était avec "Masters of the Universe".</p>
            </div>
        </div>


    </div>

{% endblock %}