{% extends 'frontBundle:Default:index.html.twig' %}

{% block mainMenu %}
    <li><a href="{{ path('front_homepage') }}">movies</a></li>
    <li><a href="{{ path('news_page') }}">news</a></li>
    <li><a href="{{ path('about_page') }}" id="current" class="MenuItemSelected">about</a></li>
    <li><a href="{{ path('contact_page') }}">contact</a></li>
{% endblock %}

{% block content %}

    <div class="about">
        <p class="presentation">Bienvenue sur NEXUS-6. Un site ciné tout simple, cliquez, lisez les critiques et si ça vous tente, matez-vous le film. NEXUS-6, c'est des critiques de films récent ou anciens, choisis par les contributeurs. Des films qu'ils ont aimé ou détesté selon chacun. Ne venez pas chercher la critique du dernier film sorti en salle cette semaine, nous ne sommes pas esclaves de l'actualité. Tout se fait au plaisir. Ne cherchez pas de zone de commentaires, de boutons de partage ou de like ou encore de "pouce bleu". Nous ne cherchons pas une gloire éphémère ou une légitimité virtuelle.</p>
        <p class="presentation">Alors si vous avez seulement envie de débusquer un bon film, si vous chercher notre avis sur un "classique" ou si vous vous êtes perdus dans les méandres de la toile, vous êtes au bon endroit !</p>

        <div class="reviewer-card">
            <img src="{{ asset('dist/img/nikita.jpg') }}">
            <div class="infos">
                <h2>N6NIKITA</h2>
                <ul>
                    <li>Age : <span>36 ans</span></li>
                    <li>Profession : <span>Directrice Marketing International</span></li>
                    <li>eMail : <span>n6nikita@nexus6.fr</span></li>
                    <li>5 Films : <span>Les quatre cents coups, Le Roi et l'oiseau, Blade Runner, Eternal Sunshine of the Spotless Mind, Tootsie</span></li>
                </ul>
                <p><em>Le cinema réunit toutes les émotions et tous les arts : le jeu des acteurs, le dessin,  les costumes, la musique, la photographie. Cette alchimie me fascine c’est pourquoi je suis une spectatrice curieuse de tous les genres de cinema : du plus populaire au plus élitiste. L’attente, le rideau, l’obscurité, le spectacle partagé avec des proches et des inconnus… S’oublier pour vivre une autre vie le temps d’une séance et rire, voyager, apprendre, être surprise, choquée et parfois même bouleversée... C’est pour tout cela que j’aime le cinema.</em></p>
            </div>
        </div>

        <div class="reviewer-card">
            <img src="{{ asset('dist/img/marzoni.jpg') }}">
            <div class="infos">
                <h2>N6MARZONI</h2>
                <ul>
                    <li>Age : <span>60 ans</span></li>
                    <li>Profession : <span>Cadre de la Fonction Publique</span></li>
                    <li>eMail : <span>n6marzoni@nexus6.fr</span></li>
                    <li>5 Films : <span>Les Demoiselles de Rochefort, Excalibur, La Femme d'à côté, Scarface, Blade Runner</span></li>
                </ul>
                <p><em>Mon premier film en salle fut Les Tontons Flingueurs, une joyeuse histoire de voyous. C'est à 14 ans avec La canonnière du Yang Tse que le cinéma m'a fait prendre conscience des tragédies humaines, des conflits du monde, des drames intérieurs. Le 7ème art m'a montré ensuite comment sublimer la réalité, aller au-delà des apparences, vivre pleinement ses émotions. Merci Georges Meliès et les Frères Lumière.</em></p>
            </div>
        </div>

        <div class="reviewer-card">
            <img src="{{ asset('dist/img/palm.jpg') }}">
            <div class="infos">
                <h2>N6PALM</h2>
                <ul>
                    <li>Age : <span>30 ans</span></li>
                    <li>Profession : <span>Gestionnaire en assurance</span></li>
                    <li>eMail : <span>n6palm@nexus6.fr</span></li>
                    <li>5 Films : <span>Cinéma paradiso, Gattaca, The Deer Hunter, Blade Runner, Le Vieux Fusil</span></li>
                </ul>
                <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis alias earum facilis architecto repellendus tempora explicabo, amet sed rerum molestiae in quod, magnam quidem iusto temporibus. Incidunt ipsum esse velit dolores sapiente. Itaque, placeat, beatae possimus quae nostrum nobis blanditiis, nam a quam veritatis quo saepe consequatur.</em></p>
            </div>
        </div>

        <div class="reviewer-card">
            <img src="{{ asset('dist/img/tyrell.jpg') }}">
            <div class="infos">
                <h2>N6TYRELL</h2>
                <ul>
                    <li>Age : <span>36 ans</span></li>
                    <li>Profession : <span>Développeur Front-end</span></li>
                    <li>eMail : <span>n6tyrell@nexus6.fr</span></li>
                    <li>5 Films : <span>Blade Runner, Schindler's List, The Planet of the Apes, The Crow, The Fall</span></li>
                </ul>
                <p><em>Mon premier vrai contact avec le cinéma : "Masters of the Universe". Alors oui c'est pas fameux, mais je garde une certaine affection pour ce film. Vers 10 ans, visionnage du bijou Blade Runner mais à l'époque, j'ai pas tout compris. Et puis ensuite vers 12 ans, découverte (en une soirée) de l'Exorcist, Chainsaw Massacre et Evil Dead... Dur, mais s'en suivra une vraie attirance pour le genre. En 1995, un vrai coup de cœur artistique : The Crow.</em></p>
            </div>
        </div>


    </div>

{% endblock %}