{% extends '::base.html.twig' %}

{% block title %}NEXUS-6{% endblock %}

{% block body %}
    <div class="container">
        <header class="clearfix">
            <h1><a href="{{ path('front_homepage') }}">Nexus-6</a></h1>
            <nav class="main-nav">
                <ul>
                    {% block mainMenu %}
                        <li><a href="{{ path('front_homepage') }}" id="current" class="MenuItemSelected">movies</a></li>
                        <li><a href="{{ path('news_page') }}">news</a></li>
                        <li><a href="{{ path('about_page') }}">about</a></li>
                        <li><a href="{{ path('contact_page') }}">contact</a></li>
                    {% endblock %}
                </ul>
            </nav>
        </header>
        <div class="main">

            {% block content %}
                <nav class="selector-nav">
                    <ul>
                        <li><a href="{{ path('front_homepage') }}">all</a></li>
                        <li><a href="{{ path('frontByGenre_homepage', {genre : 1} ) }}">horror</a></li>
                        <li><a href="{{ path('frontByGenre_homepage', {genre : 2} ) }}">sci-fi</a></li>
                        <li><a href="{{ path('frontByGenre_homepage', {genre : 6} ) }}">drama</a></li>
                        <li><a href="{{ path('frontByGenre_homepage', {genre : 9} ) }}">anticipation</a></li>
                        <li><a href="{{ path('frontByGenre_homepage', {genre : 5} ) }}">thriller</a></li>
                        <li><a href="{{ path('frontByGenre_homepage', {genre : 18} ) }}">martial arts</a></li>
                        <li><a href="{{ path('frontByGenre_homepage', {genre : 11} ) }}">romance</a></li>
                    </ul>
                </nav>
                <ul id="og-grid" class="og-grid">
                    {% for film in films %}
                        <li>
                            <a href=""  data-largesrc="{{ asset(film.webPath("md")) }}"
                               data-title="{{ film.nom }}"
                               data-director="{{ film.director }}"
                               data-year="{{ film.dateSortie|date("Y") }}"
                               data-country="{{ film.pays }}"
                               data-description="{{ film.synopsis }}"
                               data-reviewn6nikita="{{ film.reviewN6nikita|raw|default("pas de critique pour le moment") }}"
                               data-noten6nikita="{{ film.noteN6Nikita }}"
                               data-reviewn6marzoni="{{ film.reviewN6marzoni|raw|default("pas de critique pour le moment") }}"
                               data-noten6marzoni="{{ film.noteN6Marzoni }}"
                               data-reviewn6palm="{{ film.reviewN6palm|raw|default("pas de critique pour le moment") }}"
                               data-noten6palm="{{ film.noteN6Palm }}"
                               data-reviewn6tyrell="{{ film.reviewN6tyrell|raw|default("pas de critique pour le moment") }}"
                               data-noten6tyrell="{{ film.noteN6Tyrell }}">


                                <img src="{{ asset(film.webPath2) }}" alt="film">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>
        <footer></footer>
    </div>

{% endblock %}