{% extends 'frontBundle:Default:index.html.twig' %}

{% block mainMenu %}
    <li><a href="{{ path('front_homepage') }}">movies</a></li>
    <li><a href="{{ path('news_page') }}" id="current" class="MenuItemSelected">news</a></li>
    <li><a href="{{ path('about_page') }}">about</a></li>
    <li><a href="{{ path('contact_page') }}">contact</a></li>
{% endblock %}

{% block content %}

    <div class="news">
        {% for new in news %}
            {{ dump(new) }}
            {#<article style="color: #fff;">
                <img src="{{ asset(new.newsWebPath) }}">
                <h2 class="newsTitle">{{ new.news_title }}</h2>
                <span>{{ new.news_author }} <small>{{ new.news_creationTimestamp }}</small></span>
                <p><strong>{{ new.news_intro }}</strong></p>
                <p>{{ new.news_content }}</p>
            </article>#}
        {% endfor %}
    </div>

{% endblock %}