{% extends 'frontBundle:Default:index.html.twig' %}

{% block mainMenu %}
    <li><a href="{{ path('front_homepage') }}">movies</a></li>
    <li><a href="{{ path('news_page') }}" id="current" class="MenuItemSelected">news</a></li>
    <li><a href="{{ path('about_page') }}">about</a></li>
    <li><a href="{{ path('contact_page') }}">contact</a></li>
{% endblock %}

{% block content %}

    <div class="news">
        {% for newInfo in newInfos %}
            <article style="color: #fff;">
                <img src="{{ asset(newInfo.newsWebPath) }}">
                <h2 class="newsTitle">{{ newInfo.newsTitle }}</h2>
                {#<span>{{ newInfo.newsAuthor }} <small>{{ newInfo.newsCreationTimestamp|date("d m Y") }}</small></span>#}
                <p>{{ newInfo.newsIntro|slice(0, 90) ~ '...' }}{#<a href="#"> lire la suite</a>#}</p>
                {#<p>{{ newInfo.newsContent }}</p>#}
            </article>
        {% endfor %}
    </div>

{% endblock %}