{% extends '::base-frontMat.html.twig' %}

{% block title %}NEXUS-6{% endblock %}

{% block body %}
    <nav class="nav-extended grey darken-4">
        <div class="nav-background">
            <div class="pattern active" style="background-image: url('{{ asset('dist/img/backgrounds/bg-test-1.jpg') }}');"></div>
        </div>
        <div class="nav-wrapper container">
            {#<a href="#" class="brand-logo"><i class="material-icons">camera</i>Gallery</a>#}
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                {#<li><a class='dropdown-button' href='#' data-activates='feature-dropdown' data-belowOrigin="true" data-constrainWidth="false">Features<i class="material-icons right">arrow_drop_down</i></a></li>#}
            </ul>
            <!-- Dropdown Structure -->
            {#<ul id='feature-dropdown' class='dropdown-content'>
                <li><a href="full-header.html">Fullscreen Header</a></li>
                <li><a href="horizontal.html">Horizontal Style</a></li>
                <li><a href="no-image.html">No Image Expand</a></li>
            </ul>#}

            <div class="nav-header center">
                <h1>NEXUS-6</h1>
                {#<div class="tagline">My life</div>#}
            </div>
        </div>

        <!-- Fixed Masonry Filters -->
        <div class="categories-wrapper grey darken-3">
            <div class="categories-container">
                <ul class="categories container">
                    <li class="active"><a href="#all">All</a></li>
                    <li><a href="#Horreur">horror</a></li>
                    <li><a href="#Science-Fiction">sci-fi</a></li>
                    <li><a href="#Drame">drama</a></li>
                    <li><a href="#Anticipation">anticipation</a></li>
                    <li><a href="#Thriller">thriller</a></li>
                    <li><a href="#Arts-Martiaux">martial arts</a></li>
                    <li><a href="#Comédie">comédie</a></li>
                    <li><a href="#Fantastique">fantastique</a></li>
                    <li><a href="#Guerre">guerre</a></li>
                    <li><a href="#Biopic">biopic</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ul class="side-nav" id="nav-mobile">
        <li><a href="index.html"><i class="material-icons">camera</i>Gallery</a></li>
        <li><a href="index-dark.html"><i class="material-icons">brightness_3</i>Dark Theme</a></li>
        <li class="active"><a href="blog.html"><i class="material-icons">edit</i>Blog</a></li>
        <li><a href="docs.html"><i class="material-icons">school</i>Docs</a></li>
        <li><a href="full-header.html"><i class="material-icons">fullscreen</i>Fullscreen Header</a></li>
        <li><a href="horizontal.html"><i class="material-icons">swap_horiz</i>Horizontal Style</a></li>
        <li><a href="no-image.html"><i class="material-icons">texture</i>No Image Expand</a></li>
    </ul>

    <div id="portfolio" class="section grey darken-4">
        <div class="container ">
            <div class="gallery row moviesList">
            {% for film in films %}
                <div class="col l2 m3 s6 gallery-item gallery-expand gallery-filter {{ film.genre.nom }}">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            <img src="{{ asset(film.webPath2) }}" style="max-width: 100%;height: auto;" alt="{{ film.nom }}" title="{{ film.nom }}">
                        </a>
                        <div class="gallery-body">
                            <div class="row">
                                <div class="title-wrapper">
                                    <h2>{{ film.nom }}</h2>
                                    <div class="rating">
                                    {% for i in 1..film.noteSpectateur if film.noteSpectateur>0 %}
                                        <i class="n6rating material-icons right black-text">grade</i>
                                    {% endfor %}</div>
                                    {#{% for i in (film.noteSpectateur+1)..5  if film.noteSpectateur<5 %}
                                        <i class="n6rating material-icons right white-text" style="border: 1px solid #000;">grade</i>
                                    {% endfor %}#}
                                </div>
                            </div>
                            <div class="row infos-film">
                                <div class="col l3 m3 s12">
                                    <img src="{{ asset(film.webPath("md")) }}" style="max-width: 100%">
                                </div>
                                <div class="col l4 m4 s12">
                                    <table class="bordered">
                                        <tr>
                                            <td class="title-film">Titre FR</td>
                                            <td>{{ film.titreFrance }}</td>
                                        </tr>
                                        <tr>
                                            <td class="director-film">Réalisateur</td>
                                            <td>{{ film.director }}</td>
                                        </tr>
                                        <tr>
                                            <td class="year-film">Année</td>
                                            <td>{{ film.dateSortie|date("Y") }}</td>
                                        </tr>
                                        <tr>
                                            <td class="country-film">Pays</td>
                                            <td>{{ film.pays }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col l8 m8 s12">
                                    <p class="description">{{ film.synopsis }}</p>
                                </div>
                            </div>
                            <div class="row reviews-film">
                                <h3>Critiques</h3>
                                <div class="nikita-review col s12">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <div class="collapsible-header center-align">N6NIKTA</div>
                                            <div class="collapsible-body">
                                                <img class="reviewer-avatar" src="{{ asset('dist/img/nikita.jpg') }}" />
                                                <p class="description">{{ film.reviewN6nikita|raw|default("pas de critique pour le moment") }}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header center-align">N6MARZONI</div>
                                            <div class="collapsible-body">
                                                <img class="reviewer-avatar" src="{{ asset('dist/img/marzoni.jpg') }}" />
                                                <p class="description">{{ film.reviewN6marzoni|raw|default("pas de critique pour le moment") }}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header center-align">N6TYRELL</div>
                                            <div class="collapsible-body">
                                                <img class="reviewer-avatar" src="{{ asset('dist/img/tyrell.jpg') }}" />
                                                <p class="description">{{ film.reviewN6tyrell|raw|default("pas de critique pour le moment") }}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header center-align">N6HITCHMAN</div>
                                            <div class="collapsible-body">
                                                <img class="reviewer-avatar" style="border: 1px solid rgba(249,255,193,.1)" src="{{ asset('dist/img/hitchman.jpg') }}" />
                                                <p class="description">{{ film.reviewN6hitchman|raw|default("pas de critique pour le moment") }}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header center-align">N6PALM</div>
                                            <div class="collapsible-body">
                                                <img class="reviewer-avatar" src="{{ asset('dist/img/palm.jpg') }}" />
                                                <p class="description">{{ film.reviewN6palm|raw|default("pas de critique pour le moment") }}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trailer-wrapper col l8 m8 s12 offset-l2 offset-m2">
                                <span>Bande-Annonce Officielle</span>
                                <div class="youtube" data-embed="{{ film.trailer }}">
                                    <div class="play-button"></div>
                                </div>
                            </div>
                        </div>
                    </div> {#gallery-wrapper#}
                </div> {#gallery-expand#}
            {% endfor %}
            </div> <!-- gallery -->
        </div> <!-- container -->
        <footer>
            <p style="color:#fff;">Coucou ! je suis le footer !</p>
        </footer>
    </div> <!-- portfolio -->

{% endblock %}