{% extends 'homeBundle::layout.html.twig' %}

{%  block content %}
    <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><span class="fa fa-film"></span>  Ajouter un film</h3>
            </div>
            <div class="box-body">
                {{ form_start(formFilm, {attr: {novalidate: 'novalidate'}}) }}
                {{ form_errors(formFilm) }}
                <div class="form-group">
                    {{ form_label(formFilm.nom, "Titre du film :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.nom) }}
                    {{ form_widget(formFilm.nom, {attr: {class:"form-control"}}) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.file,  "Affiche :", {label_attr: {class:"label label-primary"}}) }}
                    {{ form_widget(formFilm.file, {attr: {class:"", type:"file"}}) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.frontThumbnail,  "Image front :", {label_attr: {class:"label label-primary"}}) }}
                    {{ form_widget(formFilm.frontThumbnail, {attr: {class:"", type:"file"}}) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.pays,  "Pays :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.pays) }}
                    {{ form_widget(formFilm.pays,  {attr: {class:"form-control"}}) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.director,  "Réalisateur :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.director) }}
                    {{ form_widget(formFilm.director,  {attr: {class:"form-control"}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(formFilm.genre,  "Genre :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.genre) }}
                    {{ form_widget(formFilm.genre) }}
                </div>
                <div class="form-group">
                    {{ form_label(formFilm.acteurs,  "Acteurs :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.acteurs) }}
                    {{ form_widget(formFilm.acteurs) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.dateSortie,  "Date de sortie :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.dateSortie) }}
                    {{ form_widget(formFilm.dateSortie) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.budget,  "Budget :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.budget) }}
                    {{ form_widget(formFilm.budget,  {attr: {class:"form-control"}}) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.synopsis,  "Synopsis :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.synopsis) }}
                    {{ form_widget(formFilm.synopsis,  {attr: {class:"form-control"}}) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.numVisa,  "Numéro de Visa d'exploitation :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.numVisa) }}
                    {{ form_widget(formFilm.numVisa,  {attr: {class:"form-control"}}) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.boxOfficeFrance,  "Box Office France :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.boxOfficeFrance) }}
                    {{ form_widget(formFilm.boxOfficeFrance,  {attr: {class:"form-control"}}) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.duree,  "Durée :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.duree) }}
                    {{ form_widget(formFilm.duree,  {attr: {class:"form-control"}}) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.trailer,  "ID url trailer YouTube :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.trailer) }}
                    {{ form_widget(formFilm.trailer) }}
                </div>
            </div>
            <div class="box-footer">
                <div  class="form-group">
                    {{ form_widget(formFilm.ajouter,  {attr: {class:"btn btn-primary"}}) }}
                    <a class="btn btn-danger pull-right" href="{{ path('acteur_homepage') }}">Annuler</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><span class="fa fa-pencil-square-o"></span>  Critiques :</h3>
            </div>
            <div class="box-body">
                <div  class="form-group">
                    {{ form_label(formFilm.reviewN6nikita,  "l'avis de N6NIKITA :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.reviewN6nikita) }}
                    {{ form_widget(formFilm.reviewN6nikita,  {attr: {class:"form-control"}}) }}
                    <p id="countN6nikita"><span id="caracteresN6nikita">2100</span> caractères restants</p>
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.noteN6Nikita,  "Note N6NIKITA :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.noteN6Nikita) }}
                    {{ form_widget(formFilm.noteN6Nikita) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.reviewN6tyrell,  "l'avis de N6TYRELL :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.reviewN6tyrell) }}
                    {{ form_widget(formFilm.reviewN6tyrell,  {attr: {class:"form-control"}}) }}
                    <p id="countN6tyrell"><span id="caracteresN6tyrell">2100</span> caractères restants</p>
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.noteN6Tyrell,  "Note N6TYRELL :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.noteN6Tyrell) }}
                    {{ form_widget(formFilm.noteN6Tyrell) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.reviewN6marzoni,  "l'avis de N6MARZONI :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.reviewN6marzoni) }}
                    {{ form_widget(formFilm.reviewN6marzoni,  {attr: {class:"form-control"}}) }}
                    <p id="countN6marzoni"><span id="caracteresN6marzoni">2100</span> caractères restants</p>
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.noteN6Marzoni,  "Note N6MARZONI :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.noteN6Marzoni) }}
                    {{ form_widget(formFilm.noteN6Marzoni) }}
                </div>
                <div  class="form-group">
                    {{ form_label(formFilm.reviewN6palm,  "l'avis de N6PALM :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.reviewN6palm) }}
                    {{ form_widget(formFilm.reviewN6palm,  {attr: {class:"form-control"}}) }}
                    <p id="countN6palm"><span id="caracteresN6palm">2100</span> caractères restants</p>
                </div><div  class="form-group">
                    {{ form_label(formFilm.noteN6Palm,  "Note N6PALM :", {label_attr: {class:"label label-default"}}) }}
                    {{ form_errors(formFilm.noteN6Palm) }}
                    {{ form_widget(formFilm.noteN6Palm) }}
                </div>
                {{ form_end(formFilm) }}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}