{% extends 'homeBundle::layout.html.twig' %}

{%  block content %}
    {{ dump(film.noteSpectateurRound) }}
    <div style="display: none;">{{ film.noteSpectateur }}</div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box box-solid">
            <div class="box-header bg-black">
                <h3 class="box-title">Affiche du film</h3>
            </div>
            <div class="box-body">
                <img src="{{ asset(film.webPath("lg")) }}" style="width: 100%;">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="box box-widget widget-user-2">
            <div class="widget-user-header bg-black">
                <h3 class="widget-user-username">{{ film.nom }}</h3>
                <h5 class="widget-user-desc">{{ film.director }}</h5>
            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a href="#">Année de sortie <span class="pull-right badge bg-gray">{{ film.dateSortie|date("Y") }}</span></a></li>
                    <li><a href="#">Pays <span class="pull-right badge bg-gray">{{ film.pays }}</span></a></li>
                    <li><a href="#">Genre
                            <span class="pull-right badge bg-gray">
                                {% if film.genre.nom is defined %}
                                {{ film.genre.nom }}
                                {% endif %}
                            </span>
                        </a>
                    </li>
                    <li><a href="#">Budget <span class="pull-right badge bg-gray">{{ film.budget|number_format(0, '.', ' ') }} $</span></a></li>
                    <li><a href="#">Durée <span class="pull-right badge bg-gray">{{ film.duree }} min</span></a></li>
                    <li><a href="#">Note NEXUS-6
                            {{ dump(film.noteSpectateurRound) }}
                            <span class="pull-right">
                            {% for i in 1..film.noteSpectateurRound if film.noteSpectateurRound>0 %}
                                <i class="fa fa-star" style="color: #000"></i>
                            {% endfor %}
                            {% for i in (film.noteSpectateurRound+1)..5  if film.noteSpectateurRound<5 %}
                                    <i class="fa fa-star-o" style="color: #000"></i>
                            {% endfor %}
                            ({{ film.noteSpectateur|round(2, "floor")|number_format(2, '.', ',') }})
                            </span></a></li>
                    <li><a href="#">Box Office France <span class="pull-right badge bg-gray">{{ film.boxOfficeFrance|number_format(0, '.', ' ') }} entrées</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4">
        <div class="box box-solid">
            <div class="box-header bg-black">
                <h3 class="box-title">Trailer</h3>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/{{ film.trailer }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Acteurs/Actrices</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="users-list">
                {% if film.acteurs is defined %}
                    {% for acteur in film.acteurs %}
                        <li>
                            <a class="poster-link-actor" href="{{ path('acteur_show_homepage', {id : acteur.id} ) }}"><img src="{{ asset(acteur.webPath) }}" alt="{{ acteur.nom }}"></a>
                            <a class="users-list-name" href="{{ path('acteur_showName', {nom : acteur.nom} ) }}">{{ acteur.prenom~" "~acteur.nom }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
                </ul>
            </div>
            <div class="box-footer text-center">
                <a href="{{ path('acteur_homepage') }}" class="uppercase">Voir la liste des acteurs</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-7">
        <div class="box box-solid">
            <div class="box-header bg-black">
                <h3 class="box-title">Synopsis</h3>
            </div>
            <div class="box-body">
                <p>{{ film.synopsis }}</p>
            </div>
        </div>
    </div>
<div class="clearfix"></div>
    <div class="col-xs-12 col-sm-12 col-lg-3">
        <div class="box box-solid">
            <div class="box-header bg-blue">
                <h3 class="box-title">l'avis de N6TYRELL</h3>
                {% if film.noteN6Tyrell is not null %}
                <div class="box-tools pull-right">
                    {% for i in 1..film.noteN6Tyrell if film.noteN6Tyrell>0 %}
                        <i class="fa fa-star"></i>
                    {% endfor %}
                    {% for i in (film.noteN6Tyrell+1)..5  if film.noteN6Tyrell<5 %}
                        <i class="fa fa-star-o"></i>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="box-body">
                <p>{{ film.reviewN6tyrell|raw|default("pas de critique pour le moment") }}</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-3">
        <div class="box box-solid">
            <div class="box-header bg-blue">
                <h3 class="box-title">l'avis de N6MARZONI</h3>
                {% if film.noteN6Marzoni is not null %}
                <div class="box-tools pull-right">
                    {% for i in 1..film.noteN6Marzoni if film.noteN6Marzoni>0 %}
                        <i class="fa fa-star"></i>
                    {% endfor %}
                    {% for i in (film.noteN6Marzoni+1)..5  if film.noteN6Marzoni<5 %}
                        <i class="fa fa-star-o"></i>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="box-body">
                <p>{{ film.reviewN6marzoni|raw|default("pas de critique pour le moment") }}</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-3">
        <div class="box box-solid">
            <div class="box-header bg-blue">
                <h3 class="box-title">l'avis de N6PALM</h3>
                {% if film.noteN6Palm is not null %}
                <div class="box-tools pull-right">
                    {% for i in 1..film.noteN6Palm if film.noteN6Palm>0 %}
                        <i class="fa fa-star"></i>
                    {% endfor %}
                    {% for i in (film.noteN6Palm+1)..5  if film.noteN6Palm<5 %}
                        <i class="fa fa-star-o"></i>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="box-body">
                <p>{{ film.reviewN6palm|raw|default("pas de critique pour le moment") }}</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-3">
        <div class="box box-solid">
            <div class="box-header bg-blue">
                <h3 class="box-title">l'avis de N6NIKITA</h3>
                {% if film.noteN6Nikita is not null %}
                    <div class="box-tools pull-right">
                        {% for i in 1..film.noteN6Nikita if film.noteN6Nikita>0 %}
                            <i class="fa fa-star"></i>
                        {% endfor %}
                        {% for i in (film.noteN6Nikita+1)..5  if film.noteN6Nikita<5 %}
                            <i class="fa fa-star-o"></i>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="box-body">
                <p>{{ film.reviewN6nikita|raw|default("pas de critique pour le moment") }}</p>
            </div>
        </div>
    </div>
<div class="clearfix"></div>
{% endblock %}